.nav{
display: flex;
  padding:20px;
  background-color: rgb(231, 231, 231) ;
  border-bottom: rgb(59, 59, 59);
  align-items: center;
img{
  object-fit: contain;
  width: 8%;
}
h2{
  color: #3d97cf;
  margin-left: 50px;
}
}